#img-carousel{
    width: 500%;
    vertical-align: middle;
}

.container{
max-width: 1020px;
position: relative;
margin: 0 auto;
padding: 0 0;
zoom: 1;
}

.container:before,
.container:after{
    content: "";
    display: table;
}

.container:after{
    clear: both;
}

.row{
    zoom: 1;
}

.row:before, 
.row::after{
    content: "";
    display: table;
}

.row{
    clear: both;
}

.columns{
    float: left;
    display: block;
    margin-bottom: 0px;
    padding: 0 0px;
    background: red;
}

.columns.three{
    width: 25%;
}

span{
    cursor: pointer;
    transition: all 0.5s;
}

span:hover{
    color: #363636;
    transform: scale(1.5);
}

.slider{
    position: relative;
    width: 100%;
    min-height: 350px;
}

.slide{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active-slide{
    display: block;
}

.slider-nav{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.prev-arrow, 
.next-arrow{
    margin: 0 10%;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    font-size: 1.5rem;
}

.slider-dots{
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}
.slider-dots li {
    color: #ffffff;
    display: inline;
    font-size: 2rem;
    margin: 0 5px;
    transition: color 0.5s;
}

.slider-dots li.active-dot {
    color: #363636;
  }
